body {
    background: #61C9A8;
    color: black
}

header {
    font-size: large;
    font-weight: bold;
}

img {
max-width: 300px;
margin-bottom: 20px;
margin-top: 20px;
}

.applyanceArticle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.applyanceSection {
    margin: 20px;
    /* border: 2px solid black; */
    padding: 10px;
    display: flex;
    max-width: 350px;
    min-height: 300px;
    flex-direction: column;
    justify-content: space-between
    
}

.tag {
    background: #a80874;
    color: #FFEEDB;
    border-radius: 5px;
    text-align: center;
    width: 125px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


button, .notesButton {
    background: #5ef38c;
    color: black;
    border-radius: 5px;
}

button:hover, .notesButton:hover {
    background-color: #2B9720; 
    color: white;
}

.my-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailsArticle {
    display: flex !important;
    flex-direction: row !important;
    justify-content:baseline;
    flex-wrap: wrap;
}

.applyanceNotes {
    margin: 10px;
}

