 /* updated for Applyances */
.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navbar__item {
    /* justify-content: space-evenly; */
    /* flex-basis: 20%; */
    list-style-type: none;
}

/* .navbar__logout {
    margin-left: auto;
} */

/* .navbar__link {
    justify-content: space-evenly;
} */
